
* text=auto

# GitHub
.gitattributes          text
.gitignore              text
README.md               text

# Source files
*.cpp                   text
*.hpp                   text
*.py                    text

# Test files
*.txt                   text

# Office files
*docx                   bin
*xlsx                   bin

